.cards{
    background-color: #fff;
    .card{
        &-icon{
            width: 96px;
            height: 96px;
            background-color: $yellow;
            border-radius: 50%;
        }
        &-title{
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: -1.07143px;
            color: $blue;
            margin: 40px 0 27px;
        }
        &-text{
            font-family: Lexend Deca;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 25px;
            color: $grey;
        }
    }
}