.section-banner{
    background-image: linear-gradient(rgba(53, 62, 75, 0.8), rgba(53, 62, 75, 0.8)),url('../img/Bitmap.png');
    padding: 72px 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-banner__title{
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
    color: #FFFFFF;
}
.section-banner__svg{
    position: absolute;
    right: 0;
}