@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

body{
    font-family: 'Space Mono', monospace;
}
$yellow: #FCB72B;
$grey: #939CAA;
$blue: #333A44;
$lightgrey :#E5ECF4;
$snow: #F2F5F9;
$lightsnow: #FFF4DF;