*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Space Mono;
    overflow-x: hidden;
}
ul{
    list-style: none;
}
a{
    text-decoration: none
}
.display-none{
    display: none;
}
@import './variable';
@import './btn';
@import './header';
@import './card';
@import './section';
@import './apps';
@import './section-banner';
@import './values';


// Intro 
.intro-section{
    padding: 253px 0 153px;
    min-height: 90vh;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background: linear-gradient(rgba(53, 62, 75, 0.8), rgba(53, 62, 75, 0.8)),url('../img/section-intro-banner.png');;
}
.intro-title{
    width: 50%;
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
    padding-left: 153px;
    color: #FFFFFF;
}
.intro-elements{
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .intro-element-2{
        flex-basis: 30%;
        .intro-element-prg{
            font-size: 15px;
            line-height: 25px;
            color: #FFFFFF;
            padding-bottom: 40px;
        }
    }
    .intro-element-3, .intro-element-4{
        align-self: flex-end;
    }
}


// Card
.card{
    padding: 160px 0;
}
.features{
    padding-bottom: 160px;
}

// Section banner
.section-banner{
    padding-top: 153px;
}

// Section features
.section-features{
    padding: 160px 0;
}

// FAQs
.faq{
    padding: 120px 0;
    .value-title{
        text-align: center;
        margin-bottom: 0;
    }
}
.faq-group{
    display: flex;
    margin-top: 64px;
    .faq-group-title{
        flex-basis: 40%;
        font-weight: bold;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -1.78571px;
        color: #495567;
    }
    .question-group{
        flex-basis: 60%;
    }

}
.question{
    padding: 32px 40px;
    position: relative;
    background: #F2F5F9;
    margin-bottom: 16px;
    
    &-title{
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -1.07143px;
        color: #495567;
        position: relative;
        svg{
            position: absolute;
            right: 0;
            top: 10px;
        }
    }
    &-prg{
        font-size: 15px;
        line-height: 25px;
        color: #495567;
        padding-top: 16px;
    }
}

// Vacancies
.vacancies{
    padding: 120px 0;
}
.vacancy{
    margin: 12px 0;
    padding: 32px 40px;
    background: #F2F5F9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-title{
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -1.07143px;
        color: #495567;
    }
    &-label{
        font-weight: normal;
        font-size: 15px;
        line-height: 25px;
        color: #495567;
        margin-top: 8px;
    }
}

// Map location
.map{
    padding: 160px 0;
}
.world-map{
    width: 100%;
    height: 100%;
}
.message-us{
    display: flex;
    padding-top: 120px;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    .app-title{
        color: #495567;
        flex-basis: 30%;
    }
    .message-prg{
        flex-basis: 40%;
        font-size: 15px;
        line-height: 25px;
        color: #939CAA;
    }
    .btn{
        flex-basis: 20%;
    }
}